@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap');

*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: 'Muli', sans-serif;
}

.nav_style {
	background: #fff;
	box-shadow: 0 10px 30px 0 rgba(138, 155 ,165 ,0.15);
}

.navbar-nav li a{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px; 
	color: #333;
	position: relative;
}

.navbar-nav li a:before{ /* link gulo hover effect */
	content: "";
	position: absolute;
	top: 100%; 
	bottom: 50%;
	width: 0%;
	height: 3%;
	background: #ff7230;
	transition: all 0.3s linear;
}

.navbar-nav li a:hover:before{ /* likhar nicher line er size */
	width: 80%;

}
.navbar-nav li a:hover{  /* nav er likha hovar korte--*/
	color: #ff7230 !important;
}
 .navbar-nav li .active{
	color: #ff7230!important;
}


@media (max-width: 998px){
	.navbar-nav{
		text-align: center !important;
	}

	.navbar-nav li a:hover:before{
		width: 0%;
	}
}
/* ----------navbar---------*/

/*header style css*/
.header-text{
	font-size: 26px;
	color: #8c8c8c;
	margin-top: 80px;
}

.header-text2 {
		font-size: 26px;
		color: #2d3436;
		margin-bottom: 70px;
} 
.span-header-text{
	color:  #ff7230;
}

.header-image img{
	margin-top: 70px;	
}



.hire-me{
	width: 160px;
	height: 40px;
	background: #ff7230;
	color: #fff;
	font-size: 20px;
	text-transform: capitalize;
	outline: none;
	border:none;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;

}

.about-me{
	width: 160px;
	height: 40px;
	background: #fff;
	color: #ff7230;
	font-size: 20px;
	text-transform: capitalize;
	outline: 1px solid #ff7230;
	border:none;
	transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;

}
.hire-me:hover{
	background: #fff;
	color: #ff7230;
	border:1px solid #ff7230 ;
}
.about-me:hover{
	background:#ff7230; 
	color: #fff;
}
.header-mail p{
	margin-top: 40px;
	font-size: 20px;
	color: #000;
	font-weight: 400;
}
.header-mail p:nth-child(2){
	margin-top: -20px;
}

/*about section*/
.about-sec{
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-title h1{
	font-weight:500;
	font-size:80px;
	color:#000;
	text-transform:capitalize;
	text-align:center; 
}

.about-text{
	margin-top:-20px;
}
.about-text h1{
	font-size:33px;
	color: #000;
	margin-top:-20px;
	margin-bottom:25px;
}
.about-text h2{
	font-size: 24px;
} 

.about-text p{
	font-size: 24px;
	color: #000;

}

/*expert section*/
.expert-sec{
	padding-top: 50px;
	padding-bottom: 50px;

}
.main-title p{
	font-size: 26px;
	color: #000;
	text-align: center;
}
.expert-sec .progress{
	width: 90%;
	height: 14px;
	border-radius: 7px;

}
.expert-sec .pb-1{
	width: 93%;
	border-radius: 7px;
	background-color: #ea2148;

}
.expert-sec .pb-2{
	width: 83%;
	border-radius: 7px;
	background-color: #ff7230;

}

.expert-sec .pb-3{
	width: 88%;
	border-radius: 7px;
	background-color: #1c9588;

}
.expert-sec h2{
	position: relative;

}
.expert-h1:after{
	content: '93%';
	position: absolute;
	top: 10px;
	right: 13%;
	font-size: 16px;
	color:#000;
	font-size: 500;


}
.expert-h2:after{
	content: '83%';
	position: absolute;
	top: 10px;
	right: 13%;
	font-size: 16px;
	color:#000;
	font-size: 500;


}
.expert-h3:after{
	content: '88%';
	position: absolute;
	top: 10px;
	right: 13%;
	font-size: 16px;
	color:#000;
	font-size: 500;


}
.common-div{
	margin-top: 80px;
}

/*our services*/
.ourservices{
	
padding-top:50px;
padding-bottom:70px;

	}

.services-div{
	border-radius: #f6f6f6;
	padding: 20px 10px 70px 10px;
	margin-top: 50px;
	transition: all 0.1s linear;
	position: relative;
	box-shadow:  0 10px 30px 0 rgba(138, 155 ,165 ,0.15);
	

}
.services-div:hover{
	background: #fff;
	box-shadow: 0 0 4px 1px grey;

}
.services-div h1{
	text-align: center;
	font-size: 52px;
	color:#ff7230; 
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin:auto;
	background: #ffeee6;

}
.services-div h1:hover{
	background: #fff;
	border:1px solid #ff7230;
}
.fa-heart{
	color: #fff;
	position: absolute;
	bottom: 1px;
	left: 1px;
}
.services-div:hover .fa-heart{
	color: #ffeee6;
}

.services-div li{
	list-style-type: none;
	font-size: 23px;
	color: #000;
	font-weight: 300;
	text-transform: capitalize;
	padding-left:5px;
}
.services-div li:first-child{
	padding-top: 20px;
}


/*hireme*/
.hireme-sec{
	padding-top: 45px;
	padding-bottom:45px;
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../image/p6.jpg');
     background-size: 100% 100%;
     background-attachment: fixed;

     }

.hireme-sec h1{
	font-size: 40px;
	color: #ff7230;

} 
.hireme-sec p{
	font-size: 32px;
	color: #ffffff;
	letter-spacing: 3px;
}  

.hireme-sec h3{
	font-size: 30px;
	color:#ffffff;
	margin-top: -10px;
	padding-bottom:30px;

}

/*contact us*/
.contact-sec{
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;


}
.contact-img img{
position: absolute;
bottom: 0;
left:0;

}
/*link sites*/
.contact-share-div{
	padding: 20px;
	align-content: center;
	border-radius: 30px;
	background: #f6f6f6;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;

}
.contact-share-div:hover{
	background-color: #ffffff;
	border:1px solid #ff874f;
	filter: drop-shadow(2px 0px 8px rgba(0,0,0,0.18));
}
.contact-share-div:hover .fas, .fab, .far {
 	color: #ff7230;
 }
 .contact-share-div p{
 	margin: 0;
 }



/*social link*/
.socialsite-links .fa-facebook-f:hover{
	color:#3b5998;

}
.socialsite-links .fa-instagram:hover{
	color:#e4405f;

}
.socialsite-links .fa-dribbble:hover{
	color:#ea4c89;

}
.socialsite-links .fa-pinterest:hover{
	color:#bd081c;

}

.socialsite-links .fa-behance:hover{
	color:#131418;

}

/*footer*/
.footer{
	width: 100%;
	line-height: 50px;
	background: #ff7230;
	color: #fff;

}
.footer p{
	margin: 0;
}

@media (max-width: 992px){
	.main-title h1{
		font-size: 40px;
	}
.main-title p{
	font-size: 18px;
}
	.about-text h1{
		font-size: 26px;
		font-weight: bold;
	}

	.about-text{
		margin-top: 30px;
	}
	.about-text p{
		font-size: 17px;
		line-height: 1.5;
	}
	.common-div{
		text-align: center;
		justify-content: center;
		margin-top: 30px !important;
		margin:auto;
	}

	.expert-sec h2{
		text-align: left;
	}

	.conatct-inner {
		margin:auto;
	}
	 .hireme-sec p{
	 	font-size: 22px;
	 	letter-spacing: 0px;
	 }
	 .hireme-sec h3{
	 	font-size: 21px;
	 	color: #fff;
	 	word-spacing: 2px;

	 }
	 .hireme-sec h1{
	 font-size: 32px;
	 	
	 }
}
